Repository ingefull-git/global_poc: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_common, run_japan

.circleci/config.yml:

version: 2.1

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  path-trigger:
    jobs:
      - path-filtering/filter:
          name: detect-etl-changes
          base-revision: main
          config-path: src/etl/.circleci/continue_config.yml
          mapping: |
            src/etl/common/.* run_common true
            src/etl/japan/.* run_japan true

added etl circleci pipeline
  src/etl/.circleci/continue_config.yml
Due: none

added dockerfile for common and market
  src/etl/common/Dockerfile
  src/etl/japan/Dockerfile
Due: run_common, run_japan

updated
  .circleci/config.yml
Due: none

updated
  src/etl/.circleci/continue_config.yml
Due: none

updated market
  src/etl/japan/Dockerfile
Due: run_japan

updated etl circleci pipeline
  src/etl/.circleci/continue_config.yml
Due: none

updated pipelines
  .circleci/config.yml
  src/etl/.circleci/config.yml
  src/etl/.circleci/continue_config.yml
Due: none

updated common
  src/etl/common/Dockerfile
Due: run_common

added filters to etl pipeline
  src/etl/.circleci/config.yml
Due: none

updated common 4
  src/etl/common/Dockerfile
Due: run_common

updated market 1
  src/etl/japan/Dockerfile
Due: run_japan

updated etl pipeline
  src/etl/.circleci/config.yml
Due: none

updated common path
  src/etl/common/Dockerfile
Due: run_common

added continue config
  src/etl/.circleci/config.yml
  src/etl/.circleci/continue_config.yml
Due: none

updated continue
  src/etl/.circleci/continue_config.yml
Due: none

updated multi continue
  src/etl/.circleci/config.yml
  src/etl/.circleci/continue_config_common.yml
  src/etl/.circleci/continue_config_japan.yml
Due: none

updated
  src/etl/.circleci/config.yml
Due: none

updated continue
  src/etl/.circleci/continue_config.yml
  src/etl/.circleci/continue_config_common.yml
  src/etl/.circleci/continue_config_japan.yml
Due: none

updated
  src/etl/.circleci/continue_config_common.yml
Due: none

updated simplified
  src/etl/.circleci/config.yml
  src/etl/.circleci/continue_config_common.yml
  src/etl/.circleci/continue_config_japan.yml
Due: none
