Repository ingefull-git/global_poc: changes, and which CircleCI parameters are due for each by the changed paths.
All: migrate_japan, migrate_latam

updated root pipeline
  .circleci/config.yml
  .circleci/migrations-config.yml
Due: none

updated etl pipeline
  src/etl/.circleci/config.yml
  src/etl/.circleci/etl-config.yml
Due: none

updated etl pipeliene
  src/etl/.circleci/config.yml
Due: none

updated etl
  src/etl/.circleci/config.yml
Due: none

updated japan etl schema
  db_migrations/japan/etl/schema_plan.yaml
Due: migrate_japan

updated root
  .circleci/migrations-config.yml
Due: none

updated etl
  src/etl/.circleci/etl-config.yml
Due: none

updated
  .circleci/migrations-config.yml
  db_migrations/latam/etl/deploy/create_table.sql
  db_migrations/latam/etl/schema_plan.yaml
  db_migrations/latam/etl/sqitch.conf
  db_migrations/latam/etl/sqitch.plan
Due: migrate_latam

updated
  src/etl/.circleci/etl-config.yml
Due: none

updated etl
  .circleci/migrations-config.yml
Due: none

updated latam schema
  db_migrations/latam/etl/schema_plan.yaml
Due: migrate_latam

updated japan schema
  db_migrations/japan/etl/schema_plan.yaml
Due: migrate_japan

Path conditions:
  migrate_japan: any of: db_migrations/japan/.*
  migrate_latam: any of: db_migrations/latam/.*
