Repository ingefull-git/global_poc: changes, and which CircleCI parameters are due for each by the changed paths.
All: migrate_forecast, migrate_japan

updated
  .circleci/japan_config.yaml
  db_migrations/forecast/sqitch.conf
  db_migrations/forecast/sqitch.plan
  db_migrations/japan/sqitch.conf
  db_migrations/japan/sqitch.plan
  requirements.txt
  src/etl/.circleci/config.yml
  test_and_lint_checks.sh
Due: migrate_forecast, migrate_japan

updated
  src/etl/.circleci/config.yml
  test_and_lint_checks.sh
Due: none

updated
  .gitignore
  src/etl/common/__main__.py
  src/etl/japan/__main__.py
  tests/test_common.py
  tests/test_japan.py
Due: none

updated
  src/etl/.circleci/config.yml
Due: none

updated
  db_migrations/forecast/sqitch.plan
  db_migrations/japan/sqitch.plan
Due: migrate_forecast, migrate_japan

updated
  db_migrations/forecast/1.create_table.sql
  db_migrations/forecast/sqitch.plan
  db_migrations/japan/1.create_table.sql
  db_migrations/japan/sqitch.plan
Due: migrate_forecast, migrate_japan

updated
  db_migrations/forecast/create_table.sql
  db_migrations/forecast/sqitch.plan
  db_migrations/japan/create_table.sql
  db_migrations/japan/sqitch.plan
Due: migrate_forecast, migrate_japan

updated
  db_migrations/forecast/deploy/create_table.sql
  db_migrations/japan/deploy/create_table.sql
Due: migrate_forecast, migrate_japan

add test japan-schema
  tests/test_japan.py
Due: none

updated
  requirements.txt
Due: none

updated
  tests/test_japan.py
Due: none

updated japan schema
  db_migrations/japan/deploy/create_table.sql
Due: migrate_japan

updated japan etl and tests
  src/etl/japan/__main__.py
  tests/test_japan.py
Due: none

updated main pipeline
  .circleci/config.yml
  src/etl/test_and_lint_checks.sh
Due: none

udpated
  .circleci/config.yml
Due: none

updated
  .circleci/config.yml
Due: none

updated
  .circleci/config.yml
  db_migrations/japan/forecast/deploy/create_table.sql
  db_migrations/japan/forecast/schema_plan.yaml
  db_migrations/japan/forecast/sqitch.conf
  db_migrations/japan/forecast/sqitch.plan
  db_migrations/japan/market/deploy/create_table.sql
  db_migrations/japan/market/schema_plan.yaml
  db_migrations/japan/market/sqitch.conf
  db_migrations/japan/market/sqitch.plan
Due: migrate_japan

updated
  db_migrations/japan/etl/deploy/create_table.sql
  db_migrations/japan/etl/schema_plan.yaml
  db_migrations/japan/etl/sqitch.conf
  db_migrations/japan/etl/sqitch.plan
Due: migrate_japan

updated
  .circleci/config.yml
  tests/etl/japan/test_common.py
  tests/etl/japan/test_japan.py
  tests/forecast/japan/test_common.py
  tests/forecast/japan/test_japan.py
  tests/test_japan.py
Due: none

updated etl-config to run tests and specific builds
  src/etl/.circleci/config.yml
  src/etl/.circleci/etl-config.yml
  src/etl/Dockerfile
  src/etl/common/Dockerfile
  src/etl/latam/Dockerfile
  src/etl/latam/__main__.py
  src/etl/tests/common/test_common.py
  src/etl/tests/japan/test_japan.py
  src/etl/tests/latam/test_latam.py
  src/forecast/tests/japan/test_common.py
  src/forecast/tests/japan/test_japan.py
Due: none

updated root config
  .circleci/config.yml
  .circleci/migrations-config.yml
Due: none

updated root
  .circleci/migrations-config.yml
Due: none

updated root
  .circleci/config.yml
Due: none

updated etl pipeline
  src/etl/.circleci/config.yml
  src/etl/.circleci/etl-config.yml
Due: none

Path conditions:
  migrate_forecast: any of: db_migrations/forecast/.*
  migrate_japan: any of: db_migrations/japan/.*
